openapi: 3.1.0
x-schema-version: '1.0.0'
x-compatibility:
    policy: Backward-compatible optional fields may be added without notice. Field removals, type changes, or semantic changes require a documentation version update and deprecation note.
    sourceOfTruth: https://docs.justlend.org/developers/apis/justlend_apis.yaml
x-rate-limit:
    authentication: none
    pageSizeMax: 1000
    policy: Public unauthenticated traffic may be throttled. Cache stable metadata and retry 429 or transient 5xx responses with exponential backoff and jitter.
info:
    title: JustLend DAO API
    version: '1.0.0'
    summary: Public read‑only API for JustLend DAO protocol data.
    termsOfService: https://justlend.org/docs/JustLend_Terms_of_Use_en.pdf
    contact:
        name: JustLend DAO
        url: https://support.justlend.org/
    license:
        name: Documentation license and terms
        url: https://justlend.org/docs/JustLend_Terms_of_Use_en.pdf
    description: |
        Public REST endpoints for querying JustLend DAO protocol state:
        lending markets, user positions, liquidation risk, USDD supply‑mining
        rewards, sTRX staking, and Energy Rental.

        ## Conventions

        * **Envelope** — every successful response is `{ code: 0, message: "SUCCESS", data: { ... } }`.
        * **Addresses** — TRON Base58 (`T...`, 34 chars).
        * **Numbers** — already de‑scaled to human‑readable units unless explicitly noted.
            * `*Rate` and `apy` fields are **annualized decimals** (`0.0917` = 9.17 %).
            * `*Factor` fields are decimals in `[0, 1]` (`0.75` = 75 %).
            * Amounts in `cash` / `reserves` / `totalBorrows` / `supplyBalanceUnderlying` etc. are already in underlying units.
            * jToken amounts (`totalSupply` of `/lend/jtoken`, `supplyBalanceJtoken`) are in jToken units (8 decimals).
        * **Self-describing unit extensions** — every amount field carries machine-readable OpenAPI
          extensions so an agent never has to infer scale:
            * `x-unit` — denomination (e.g. an asset symbol, `jToken`, `underlying`, `TRX`, `USD`,
              `APY-annualized-decimal`, `fraction-0to1`, `underlying-per-jToken`, `mantissa`).
            * `x-decimals` — native decimals of that denomination (informational; `jToken` = 8).
            * `x-descaled` — `true` = value is **already** in human-readable display units, do **not**
              re-apply decimals; `false` = value is in smallest/raw units, apply `x-decimals` to display.
        * **Hex numbers** — `amount`, `index`, `merkleIndex`, `merkleRoot`, `proof` returned by `/mining/distributions` are bare `0x…` hex `uint256`. Pass directly to the on‑chain claim contract; decode the amount with `parseInt(hex, 16) / 1e6` for USDD.
        * **Mining APY** — paid on top of `supplyRate`. Effective supply APY = `supplyRate + apy`.
        * **Pagination** — `pageNo` is 1‑based, default `1`. `pageSize` default `10`, max `1000`.
        * **Rate limits** — public unauthenticated traffic may be throttled. Cache stable metadata and retry `429` / transient `5xx` with exponential backoff and jitter.
        * **Errors** — returned with **HTTP `200`** and the standard `{ code, message }` envelope (business errors set a non‑zero `code`, e.g. `404` or `1`; `data` is omitted). The API is **not** RFC 7807 and does **not** use HTTP status codes for business/validation errors — branch on the body `code`. Invalid/unknown query params may be silently ignored (`200 SUCCESS`), so validate inputs client‑side. Only `429` (throttle) and `5xx` (server fault) appear as non‑`200` HTTP statuses. See the `Error` schema.
        * **Compatibility** — clients should ignore unknown fields. Field removals,
          type changes, or semantic changes require a documentation version update
          and deprecation note.

        See [`/developers/apis`](https://docs.justlend.org/developers/apis) for the
        human‑readable version with tables, worked examples, and the jToken
        address reference.

servers:
    - url: https://openapi.just.network
      description: Production

tags:
    - name: Supply and Borrow Market
      description: |
          Core lending protocol. Query market parameters, per‑user positions,
          and liquidatable accounts.
    - name: Mining
      description: |
          USDD supply‑mining rewards. Suppliers of jUSDD
          (`TKFRELGGoRgiayhwJTNNLqCNjFoLBh3Mnf`) earn additional USDD distributed
          in time‑bounded **phases**. Use these endpoints to query the active
          APY, per‑user phase status, and Merkle claim proofs.
    - name: Staked TRX and Energy Rental
      description: |
          sTRX liquid‑staking pool and the Energy Rental market.
    - name: JustLend V2
      description: |
          JustLend V2 — isolated‑market lending. The supply side is curated
          **ERC4626 vaults**; the borrow side is permissionless **isolated
          markets**, each a single `(loanToken, collateralToken, oracle, irm,
          lltv)` pair identified by a `bytes32` market id. Risk is evaluated
          **per market** (the `risk` field, a `0–1` ratio) rather than as one
          account‑wide health factor.

          These endpoints are **read‑only protocol data**. V2 lists paginate with
          `page` (1‑based) and `pageSize` — note this differs from the V1
          `pageNo`/`pageSize` convention above. For write operations (deposit,
          borrow, repay, liquidate) integrate the contracts directly or use the
          MCP server; see
          [`/developers/justlend_v2`](https://docs.justlend.org/developers/justlend_v2).

paths:
    /lend/jtoken:
        get:
            tags: [Supply and Borrow Market]
            operationId: listMarkets
            summary: List all SBM markets
            description: |
                Returns the on‑chain state of every Supply & Borrow market:
                rates, total supply/borrow, exchange rate, oracle price, and
                collateral factor.
            responses:
                '200':
                    description: Market list.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/MarketListResponse'
                '429':
                    $ref: '#/components/responses/TooManyRequests'

    /lend/account:
        get:
            tags: [Supply and Borrow Market]
            operationId: getAccount
            summary: Get a user's SBM positions
            description: |
                Returns each queried wallet's supply / borrow positions, health
                factor, and totals.
            parameters:
                - $ref: '#/components/parameters/addresses'
                - $ref: '#/components/parameters/minBorrowValueInTrx'
                - $ref: '#/components/parameters/maxHealth'
                - $ref: '#/components/parameters/pageNo'
                - $ref: '#/components/parameters/pageSize'
            responses:
                '200':
                    description: User account list.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AccountListResponse'
                '429':
                    $ref: '#/components/responses/TooManyRequests'

    /justlend/liquidate/highRiskAccountList:
        get:
            tags: [Supply and Borrow Market]
            operationId: listHighRiskAccounts
            summary: List high‑risk / liquidatable accounts
            description: |
                Returns accounts whose health factor is at or near the
                liquidation threshold. `risk > 1` means the account is
                liquidatable now.
            responses:
                '200':
                    description: High‑risk account list.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/HighRiskAccountListResponse'
                '429':
                    $ref: '#/components/responses/TooManyRequests'

    /mining/apy:
        get:
            tags: [Mining]
            operationId: getMiningApy
            summary: Get USDD mining APY per market
            description: |
                Returns the current USDD supply‑mining APY for every market
                that has mining enabled. The response is keyed by jToken
                address (currently only `TKFRELGGoRgiayhwJTNNLqCNjFoLBh3Mnf` —
                jUSDD).

                The value is an **annualized decimal**: `0.09175706` = 9.18 %.
                It is paid on top of `supplyRate` returned by `/lend/jtoken`.

                A user's effective supply APY in this market is
                `supplyRate + apy`.
            responses:
                '200':
                    description: Mining APY per market.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/MiningApyResponse'
                            example:
                                code: 0
                                message: SUCCESS
                                data:
                                    TKFRELGGoRgiayhwJTNNLqCNjFoLBh3Mnf:
                                        USDD: 0.09175706
                '429':
                    $ref: '#/components/responses/TooManyRequests'

    /mining/reward:
        get:
            tags: [Mining]
            operationId: getMiningReward
            summary: Get current/last phase status for a user
            description: |
                Returns the user's status in the current and previous USDD
                mining phase for each market with mining enabled.

                Each phase has a `start` time, `end` time, accrued reward, and
                a status enum:

                | `*RewardStatus` | Meaning                             |
                |-----------------|-------------------------------------|
                | `0`             | Phase not started                   |
                | `1`             | Phase in progress                   |
                | `2`             | Phase ended (finalized / claimable) |
                | `3`             | Phase paused                        |

                Once a phase reaches status `2`, call `/mining/distributions`
                to fetch the Merkle proof needed to claim on‑chain.
            parameters:
                - $ref: '#/components/parameters/addressQuery'
            responses:
                '200':
                    description: User's mining phase status per market.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/MiningRewardResponse'
                '429':
                    $ref: '#/components/responses/TooManyRequests'

    /mining/distributions:
        get:
            tags: [Mining]
            operationId: getMiningDistributions
            summary: Get Merkle claim proofs for all phases
            description: |
                Returns every mining phase the user has ever been entitled to,
                claimed or unclaimed. Each entry carries the data needed to
                claim on‑chain: `merkleIndex`, `index`, `amount` (hex
                `uint256`), `merkleRoot`, and `proof`.

                **Decoding amount** — `parseInt(amount, 16) / 1e6` ⇒ USDD.

                **Claim flow** — filter `claimed == false`, then call the
                distribution contract with `(merkleIndex, index, amount, proof)`
                per phase.
            parameters:
                - $ref: '#/components/parameters/addressQuery'
            responses:
                '200':
                    description: Per‑phase reward and Merkle proof list.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/MiningDistributionsResponse'
                '429':
                    $ref: '#/components/responses/TooManyRequests'

    /lend/strx:
        get:
            tags: [Staked TRX and Energy Rental]
            operationId: getStrxAndRentalSnapshot
            summary: Get sTRX market and Energy Rental snapshot
            description: |
                Returns global state for both the sTRX liquid‑staking pool
                (`stakeInfo`) and the Energy Rental market (`rentInfo`).
            responses:
                '200':
                    description: Global sTRX/Energy Rental state.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/StrxSnapshotResponse'
                '429':
                    $ref: '#/components/responses/TooManyRequests'

    /lend/strxStake/account:
        get:
            tags: [Staked TRX and Energy Rental]
            operationId: getStrxStakeAccount
            summary: Get user's sTRX staking positions
            description: |
                Returns each queried wallet's sTRX balance, in‑cooldown amount,
                and amount ready to withdraw.
            parameters:
                - $ref: '#/components/parameters/addresses'
                - $ref: '#/components/parameters/pageNo'
                - $ref: '#/components/parameters/pageSize'
                - $ref: '#/components/parameters/minStrxBalance'
            responses:
                '200':
                    description: User sTRX positions.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/StrxStakeAccountResponse'
                '429':
                    $ref: '#/components/responses/TooManyRequests'

    /lend/rentResource/account:
        get:
            tags: [Staked TRX and Energy Rental]
            operationId: getRentResourceAccount
            summary: Get user's Energy Rental orders
            description: |
                Returns each queried wallet's Energy Rental orders.
                Bandwidth rentals are not yet exposed.
            parameters:
                - $ref: '#/components/parameters/addresses'
                - $ref: '#/components/parameters/pageNo'
                - $ref: '#/components/parameters/pageSize'
                - $ref: '#/components/parameters/minStrxBalance'
                - $ref: '#/components/parameters/maxRemainingRentAmount'
            responses:
                '200':
                    description: User Energy Rental orders.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RentAccountResponse'
                '429':
                    $ref: '#/components/responses/TooManyRequests'

    # ======================================================================
    # JustLend V2 (isolated lending)
    # ======================================================================
    /index/vault/list:
        get:
            tags: [JustLend V2]
            operationId: listV2Vaults
            summary: List V2 supply vaults
            description: |
                Returns every V2 ERC4626 supply vault with APY, TVL, underlying
                asset, and the collateral tokens it lends against. Lenders deposit
                the underlying asset to earn yield.
            parameters:
                - $ref: '#/components/parameters/v2Sort'
                - $ref: '#/components/parameters/v2Order'
                - $ref: '#/components/parameters/v2Keyword'
                - $ref: '#/components/parameters/v2OptionalAddress'
                - $ref: '#/components/parameters/v2Page'
                - $ref: '#/components/parameters/v2PageSize'
            responses:
                '200':
                    description: Vault list.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/V2VaultListResponse'
                '429':
                    $ref: '#/components/responses/TooManyRequests'

    /vault/info:
        get:
            tags: [JustLend V2]
            operationId: getV2Vault
            summary: Get a single V2 vault
            description: |
                Detailed state for one vault: TVL, liquidity, share value, curator,
                performance fee, and per‑market allocations.
            parameters:
                - $ref: '#/components/parameters/v2VaultAddress'
            responses:
                '200':
                    description: Vault detail.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/V2VaultResponse'
                '429':
                    $ref: '#/components/responses/TooManyRequests'

    /index/market/list:
        get:
            tags: [JustLend V2]
            operationId: listV2Markets
            summary: List V2 isolated markets
            description: |
                Returns every isolated market with its `(loan, collateral)` pair,
                `lltv`, borrow/supply APY, utilization, liquidity, and TVL.
            parameters:
                - $ref: '#/components/parameters/v2Sort'
                - $ref: '#/components/parameters/v2Order'
                - $ref: '#/components/parameters/v2Keyword'
                - $ref: '#/components/parameters/v2OptionalAddress'
                - $ref: '#/components/parameters/v2Page'
                - $ref: '#/components/parameters/v2PageSize'
            responses:
                '200':
                    description: Market list.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/V2MarketListResponse'
                '429':
                    $ref: '#/components/responses/TooManyRequests'

    /market/marketInfo:
        get:
            tags: [JustLend V2]
            operationId: getV2Market
            summary: Get a single V2 market
            description: Full detail for one isolated market, keyed by its `bytes32` market id.
            parameters:
                - $ref: '#/components/parameters/v2MarketId'
            responses:
                '200':
                    description: Market detail.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/V2MarketResponse'
                '429':
                    $ref: '#/components/responses/TooManyRequests'

    /index/position:
        get:
            tags: [JustLend V2]
            operationId: getV2UserPosition
            summary: Get a user's aggregated V2 position
            description: |
                Aggregated V2 overview for one wallet: total supply / borrow /
                collateral USD, net APYs, and the per‑vault and per‑market
                position breakdown.
            parameters:
                - $ref: '#/components/parameters/v2Address'
            responses:
                '200':
                    description: Aggregated user position.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/V2UserPositionResponse'
                '429':
                    $ref: '#/components/responses/TooManyRequests'

    /market/position:
        get:
            tags: [JustLend V2]
            operationId: getV2UserMarketPosition
            summary: Get a user's position in one V2 market
            description: |
                Borrow / collateral amounts, `lltv`, and `risk` for one wallet in a
                single market. `risk → 1` means the position is liquidatable.
            parameters:
                - $ref: '#/components/parameters/v2MarketId'
                - $ref: '#/components/parameters/v2Address'
            responses:
                '200':
                    description: User market position.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/V2UserMarketPositionResponse'
                '429':
                    $ref: '#/components/responses/TooManyRequests'

    /liquidate/pendingLiquidations:
        get:
            tags: [JustLend V2]
            operationId: listV2PendingLiquidations
            summary: List liquidatable V2 positions
            description: Positions currently eligible for liquidation, with debt, collateral, and `risk`.
            parameters:
                - $ref: '#/components/parameters/v2MinRiskLevel'
                - $ref: '#/components/parameters/v2MaxRiskLevel'
                - $ref: '#/components/parameters/v2Sort'
                - $ref: '#/components/parameters/v2Order'
                - $ref: '#/components/parameters/v2Page'
                - $ref: '#/components/parameters/v2PageSize'
            responses:
                '200':
                    description: Pending‑liquidation list.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/V2PendingLiquidationResponse'
                '429':
                    $ref: '#/components/responses/TooManyRequests'

    /liquidate/records:
        get:
            tags: [JustLend V2]
            operationId: listV2LiquidationRecords
            summary: List historical V2 liquidations
            parameters:
                - $ref: '#/components/parameters/v2Page'
                - $ref: '#/components/parameters/v2PageSize'
            responses:
                '200':
                    description: Liquidation history.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/V2LiquidationRecordResponse'
                '429':
                    $ref: '#/components/responses/TooManyRequests'

    /liquidate/tokenList:
        get:
            tags: [JustLend V2]
            operationId: listV2LiquidationTokens
            summary: List V2 liquidation loan / collateral symbols
            description: The set of loan and collateral token symbols available as liquidation filters.
            responses:
                '200':
                    description: Token symbol lists.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/V2LiquidationTokenListResponse'
                '429':
                    $ref: '#/components/responses/TooManyRequests'

    /record/lend:
        get:
            tags: [JustLend V2]
            operationId: listV2Records
            summary: List a user's V2 lend / borrow records
            description: Paginated supply, withdraw, borrow, and repay history for one wallet.
            parameters:
                - $ref: '#/components/parameters/v2Address'
                - $ref: '#/components/parameters/v2Page'
                - $ref: '#/components/parameters/v2PageSize'
            responses:
                '200':
                    description: Transaction records.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/V2RecordResponse'
                '429':
                    $ref: '#/components/responses/TooManyRequests'

components:
    parameters:
        addresses:
            name: addresses
            in: query
            description: |
                One or more TRON Base58 addresses, **comma‑separated** (no
                spaces). Example: `T9yD14...,TXJgM...`.
            required: true
            schema:
                type: string
                example: T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb
        addressQuery:
            name: address
            in: query
            description: A single TRON Base58 address.
            required: true
            schema:
                type: string
                example: T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb
        minBorrowValueInTrx:
            name: minBorrowValueInTrx
            in: query
            description: Only return accounts whose total borrow value (TRX) is ≥ this threshold.
            required: false
            schema: { type: number, format: double }
        maxHealth:
            name: maxHealth
            in: query
            description: Only return accounts whose health factor is ≤ this threshold (useful to find risky borrowers).
            required: false
            schema: { type: number, format: double }
        pageNo:
            name: pageNo
            in: query
            description: 1‑based page number. Default `1`.
            required: false
            schema: { type: integer, format: int64, minimum: 1, default: 1 }
        pageSize:
            name: pageSize
            in: query
            description: Page size. Default `10`, max `1000`.
            required: false
            schema: { type: integer, format: int64, minimum: 1, maximum: 1000, default: 10 }
        minStrxBalance:
            name: minStrxBalance
            in: query
            description: Minimum sTRX balance an account must hold to be included.
            required: false
            schema: { type: number, format: double }
        maxRemainingRentAmount:
            name: maxRemainingRentAmount
            in: query
            description: Only include rental orders whose remaining rent is ≤ this threshold.
            required: false
            schema: { type: number, format: double }

        # --- JustLend V2 parameters ---
        v2Address:
            name: address
            in: query
            description: A single TRON Base58 address whose V2 position is queried.
            required: true
            schema: { type: string, example: T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb }
        v2OptionalAddress:
            name: address
            in: query
            description: Optional wallet address; when supplied, the response also includes that user's per‑item position.
            required: false
            schema: { type: string, example: T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb }
        v2VaultAddress:
            name: address
            in: query
            description: The vault contract address (TRON Base58).
            required: true
            schema: { type: string, example: TXejU9jmd1ooQyY3Zmpo15yN7MjSFYUESg }
        v2MarketId:
            name: marketId
            in: query
            description: Isolated market id — a `bytes32` hex string. Obtain from the market list.
            required: true
            schema: { type: string, example: '0x1f3c…' }
        v2Sort:
            name: sort
            in: query
            description: Field to sort by (endpoint‑specific, e.g. `apy`, `tvl`, `risk`).
            required: false
            schema: { type: string }
        v2Order:
            name: order
            in: query
            description: Sort direction.
            required: false
            schema: { type: string, enum: [asc, desc], default: desc }
        v2Keyword:
            name: keyword
            in: query
            description: Free‑text filter on token symbol / name.
            required: false
            schema: { type: string }
        v2MinRiskLevel:
            name: minRiskLevel
            in: query
            description: Only return positions whose risk is ≥ this value.
            required: false
            schema: { type: number, format: double }
        v2MaxRiskLevel:
            name: maxRiskLevel
            in: query
            description: Only return positions whose risk is ≤ this value.
            required: false
            schema: { type: number, format: double }
        v2Page:
            name: page
            in: query
            description: 1‑based page number for V2 list endpoints. Default `1`.
            required: false
            schema: { type: integer, format: int64, minimum: 1, default: 1 }
        v2PageSize:
            name: pageSize
            in: query
            description: V2 page size. Default `10`, max `1000`.
            required: false
            schema: { type: integer, format: int64, minimum: 1, maximum: 1000, default: 10 }

    responses:
        TooManyRequests:
            description: Too Many Requests — slow down and retry with exponential backoff and jitter.
            headers:
                Retry-After:
                    description: Optional server-provided delay, in seconds, before retrying.
                    schema:
                        type: integer
                        minimum: 1
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/Error'

    schemas:
        # ------------------------------------------------------------------
        # Common envelope pieces
        # ------------------------------------------------------------------
        EnvelopeOk:
            type: object
            description: Shared shape of every successful response.
            required: [code, message, data]
            properties:
                code:
                    type: integer
                    description: '`0` means success. Non‑zero values indicate an error; see `message` and the HTTP status code.'
                    example: 0
                message:
                    type: string
                    description: Status string. `"SUCCESS"` on success.
                    example: SUCCESS
                data:
                    description: Endpoint‑specific payload. Shape documented per endpoint.

        Pagination:
            type: object
            description: Pagination metadata.
            properties:
                totalCount: { type: integer, format: int64, description: Total number of records across all pages. }
                totalPage:  { type: integer, format: int64, description: Total number of pages. }

        Error:
            type: object
            description: >-
                Error response. Returned with HTTP 200 and the same envelope as success — a
                non-zero `code` plus a human-readable `message` (`data` is omitted). The API is
                NOT RFC 7807 and does NOT use HTTP status codes for business/validation errors;
                branch on `code`. Invalid params may be silently ignored (200 SUCCESS).
            properties:
                code:    { type: integer, format: int32, example: 404, description: 'Non-zero error code (e.g. 404 "interface non exist", 1 "illegal pageNo or pageSize").' }
                message: { type: string, example: 'interface [/lend/nonExistentXYZ] non exist', description: 'Human-readable error description.' }
            required: [code, message]

        # ------------------------------------------------------------------
        # /lend/jtoken
        # ------------------------------------------------------------------
        Market:
            type: object
            description: One Supply & Borrow market.
            required: [address, symbol, underlyingAddress, underlyingSymbol, underlyingDecimal, underlyingPriceInTrx, borrowIndex, borrowRate, supplyRate, cash, reserves, totalBorrows, totalSupply, exchangeRate, collateralFactor, reserveFactor]
            properties:
                address:
                    type: string
                    description: jToken contract address (the market).
                    example: TE2RzoSV3wFK99w6J9UnnZ4vLfXYoxvRwP
                symbol:
                    type: string
                    description: jToken symbol, e.g. `jTRX`, `jUSDD`.
                    example: jTRX
                underlyingAddress:
                    type: string
                    description: Underlying asset contract address.
                    example: T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb
                underlyingSymbol:
                    type: string
                    description: Underlying asset symbol.
                    example: TRX
                underlyingDecimal:
                    type: integer
                    format: int32
                    description: Decimals of the underlying asset.
                    example: 6
                underlyingPriceInTrx:
                    type: number
                    format: double
                    description: Oracle price of 1 unit of underlying, denominated in TRX.
                    example: 1.0
                    x-unit: TRX
                    x-descaled: true
                borrowIndex:
                    type: integer
                    format: int64
                    description: Cumulative borrow interest index (scaled `1e18`).
                    example: 1224530412174750380
                    x-unit: mantissa
                    x-decimals: 18
                    x-descaled: false
                borrowRate:
                    type: number
                    format: double
                    description: Borrow APY as annualized decimal. `0.0647` = 6.47 %.
                    example: 0.06467371
                    x-unit: APY-annualized-decimal
                    x-descaled: true
                supplyRate:
                    type: number
                    format: double
                    description: Supply APY as annualized decimal (does **not** include mining rewards).
                    example: 0.00904450
                    x-unit: APY-annualized-decimal
                    x-descaled: true
                cash:
                    type: number
                    format: double
                    description: Available underlying liquidity in the market.
                    example: 349909392.537020
                    x-unit: underlying
                    x-descaled: true
                reserves:
                    type: number
                    format: double
                    description: Protocol reserves in the market (underlying units).
                    example: 2300647.881336
                    x-unit: underlying
                    x-descaled: true
                totalBorrows:
                    type: number
                    format: double
                    description: Total outstanding debt (underlying units).
                    example: 63951044.565948
                    x-unit: underlying
                    x-descaled: true
                totalSupply:
                    type: number
                    format: double
                    description: Total minted jTokens (jToken units, 8 decimals).
                    example: 39391010299.49149122
                    x-unit: jToken
                    x-decimals: 8
                    x-descaled: true
                exchangeRate:
                    type: number
                    format: double
                    description: Current jToken → underlying conversion ratio.
                    example: 0.010448063811832339
                    x-unit: underlying-per-jToken
                    x-descaled: true
                collateralFactor:
                    type: number
                    format: double
                    description: Loan‑to‑value cap when used as collateral. `0.75` = 75 %.
                    example: 0.75
                    x-unit: fraction-0to1
                    x-descaled: true
                reserveFactor:
                    type: number
                    format: double
                    description: Share of borrow interest taken as protocol reserve.
                    example: 0.10
                    x-unit: fraction-0to1
                    x-descaled: true

        MarketListResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data:
                          type: object
                          required: [tokenList]
                          properties:
                              tokenList:
                                  type: array
                                  items: { $ref: '#/components/schemas/Market' }

        # ------------------------------------------------------------------
        # /lend/account
        # ------------------------------------------------------------------
        UserTokenPosition:
            type: object
            description: One jToken position for one user.
            required: [address, underlyingSymbol, entered, supplyBalanceJtoken, supplyBalanceUnderlying, borrowBalanceUnderlying]
            properties:
                address:
                    type: string
                    description: jToken contract address.
                    example: TNSBA6KvSvMoTqQcEgpVK7VhHT3z7wifxy
                underlyingSymbol:
                    type: string
                    description: Underlying asset symbol.
                    example: USDD
                entered:
                    type: integer
                    format: int32
                    description: '`1` if the user has entered this market as collateral, `0` otherwise.'
                    enum: [0, 1]
                    example: 1
                supplyBalanceJtoken:
                    type: number
                    format: double
                    description: Supplied balance in jTokens (8 decimals).
                    example: 1.09062037
                    x-unit: jToken
                    x-decimals: 8
                    x-descaled: true
                supplyBalanceUnderlying:
                    type: number
                    format: double
                    description: Supplied balance in underlying units.
                    example: 0.01148891329334797
                    x-unit: underlying
                    x-descaled: true
                borrowBalanceUnderlying:
                    type: number
                    format: double
                    description: Outstanding borrow in underlying units.
                    example: 0.704372293431166
                    x-unit: underlying
                    x-descaled: true

        UserAccount:
            type: object
            description: One wallet's aggregated SBM position.
            required: [addresses, health, totalCollateralValueInTrx, totalBorrowValueInTrx, liquidateStatusStartTime, tokens]
            properties:
                addresses:
                    type: string
                    description: User wallet address.
                    example: T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb
                health:
                    type: number
                    format: double
                    description: Health factor. `> 1` healthy, `≤ 1` liquidatable.
                    example: 5.88
                totalCollateralValueInTrx:
                    type: number
                    format: double
                    description: Sum of collateral value in TRX (after `collateralFactor`).
                    example: 24.126681
                    x-unit: TRX
                    x-descaled: true
                totalBorrowValueInTrx:
                    type: number
                    format: double
                    description: Sum of outstanding borrow value in TRX.
                    example: 11.277370
                    x-unit: TRX
                    x-descaled: true
                liquidateStatusStartTime:
                    type: string
                    format: date-time
                    nullable: true
                    description: When the account first entered a liquidatable state, or `null` if currently safe.
                tokens:
                    type: array
                    items: { $ref: '#/components/schemas/UserTokenPosition' }

        AccountListResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data:
                          allOf:
                              - $ref: '#/components/schemas/Pagination'
                              - type: object
                                properties:
                                    list:
                                        type: array
                                        items: { $ref: '#/components/schemas/UserAccount' }

        # ------------------------------------------------------------------
        # /justlend/liquidate/highRiskAccountList
        # ------------------------------------------------------------------
        CollateralToken:
            type: object
            description: Collateral position of a high‑risk account.
            properties:
                jtokenAddress:    { type: string, description: jToken contract address., example: TR7BUFRQeq1w5jAZf1FKx85SHuX6PfMqsV }
                symbol:           { type: string, description: jToken symbol., example: jETH }
                amount:           { type: string, description: Collateral held, in jToken units (8 decimals)., example: '11.03049909', x-unit: jToken, x-decimals: 8, x-descaled: true }
                price:            { type: string, description: jToken price in USD (already multiplied by `exchangeRate`)., example: '21.090028146702653201', x-unit: USD, x-descaled: true }
                valueUsd:         { type: string, description: '`amount × price`.', example: '232.633536', x-unit: USD, x-descaled: true }
                exchangeRate:     { type: string, description: jToken → underlying conversion ratio., example: '0.010021847796289808', x-unit: underlying-per-jToken, x-descaled: true }
                collateralFactor: { type: string, description: Collateral factor applied for risk calculation., example: '0.750000000000000000', x-unit: fraction-0to1, x-descaled: true }

        BorrowToken:
            type: object
            description: Borrow position of a high‑risk account.
            properties:
                tokenAddress:     { type: string, description: '**Underlying** asset address (note — keyed by underlying, not jToken).', example: TCFLL5dx5ZJdKnWuesXxi1VPwjLVmWZZy9 }
                symbol:           { type: string, description: Underlying asset symbol., example: JST }
                amount:           { type: string, description: Outstanding borrowed amount in underlying units., example: '19.357667866419444238', x-unit: underlying, x-descaled: true }
                price:            { type: string, description: Underlying asset price in USD., example: '0.040802750477000000', x-unit: USD, x-descaled: true }
                valueUsd:         { type: string, description: '`amount × price`.', example: '0.789846', x-unit: USD, x-descaled: true }
                exchangeRate:     { type: string, description: jToken → underlying conversion ratio for this market., example: '0.010481635809265784', x-unit: underlying-per-jToken, x-descaled: true }
                collateralFactor: { type: string, description: Collateral factor of the corresponding jToken market., example: '0.600000000000000000', x-unit: fraction-0to1, x-descaled: true }

        HighRiskAccount:
            type: object
            description: One liquidatable / near‑liquidatable account.
            properties:
                borrower:                 { type: string, description: Borrower wallet., example: TLc34aTvy1vBFzLvM9oz36ihhb7sVpQmgQ }
                risk:                     { type: string, description: 'Risk coefficient. `> 1` ⇒ liquidatable now. Higher = riskier.', example: '1.105684' }
                totalCollateralUsd:       { type: string, description: Total collateral value in USD., example: '234.063780', x-unit: USD, x-descaled: true }
                totalBorrowUsd:           { type: string, description: Total borrow value in USD., example: '193.705172', x-unit: USD, x-descaled: true }
                liquidateStatusStartTime: { type: integer, format: int64, description: Epoch ms when the account first became liquidatable., example: 1770089973150 }
                collateralTokenList:
                    type: array
                    items: { $ref: '#/components/schemas/CollateralToken' }
                borrowTokenList:
                    type: array
                    items: { $ref: '#/components/schemas/BorrowToken' }

        JTokenAddressMap:
            type: object
            description: jToken symbol → contract address lookup.
            additionalProperties:
                type: string
            example:
                jTRX:  TE2RzoSV3wFK99w6J9UnnZ4vLfXYoxvRwP
                jUSDD: TKFRELGGoRgiayhwJTNNLqCNjFoLBh3Mnf
                jUSDT: TXJgMdjVX5dKiQaUi9QobwNxtSQaFqccvd

        HighRiskAccountListResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data:
                          type: object
                          properties:
                              updateTime:
                                  type: integer
                                  format: int64
                                  description: Snapshot timestamp (epoch ms).
                                  example: 1770275708508
                              jtokens:
                                  type: array
                                  items: { $ref: '#/components/schemas/JTokenAddressMap' }
                              accounts:
                                  type: array
                                  items: { $ref: '#/components/schemas/HighRiskAccount' }

        # ------------------------------------------------------------------
        # /mining/apy
        # ------------------------------------------------------------------
        MiningApy:
            type: object
            description: |
                Mining APY for one market, keyed by reward token symbol.
                Currently only `USDD` is paid out.
            properties:
                USDD:
                    type: number
                    format: double
                    description: |
                        USDD mining APY as annualized decimal. `0.09175706` =
                        9.18 %. Paid on top of the market's `supplyRate`.
                    example: 0.09175706
                    x-unit: APY-annualized-decimal
                    x-descaled: true

        MiningApyResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data:
                          type: object
                          description: |
                              Keyed by **jToken address**. Currently only
                              `TKFRELGGoRgiayhwJTNNLqCNjFoLBh3Mnf` (jUSDD)
                              receives mining rewards. A market that does not
                              appear has no mining.
                          additionalProperties:
                              $ref: '#/components/schemas/MiningApy'

        # ------------------------------------------------------------------
        # /mining/reward
        # ------------------------------------------------------------------
        PhaseStatus:
            type: integer
            format: int32
            description: |
                Phase status:
                * `0` — not started
                * `1` — in progress
                * `2` — ended (finalized / claimable)
                * `3` — paused
            enum: [0, 1, 2, 3]
            example: 1

        MarketMiningPhase:
            type: object
            description: |
                User's status in the current and previous USDD mining phase
                for one market.
            properties:
                currPhase:
                    type: integer
                    format: int64
                    description: Sequential phase number that is **in progress** now.
                    example: 64
                currStartTime: { type: string, format: date-time, description: Start of current phase (UTC). }
                currEndTime:   { type: string, format: date-time, description: End of current phase (UTC). }
                currReward:
                    type: number
                    format: double
                    description: User's accrued reward in the current phase (USDD). Updates over time.
                    example: 0.0
                    x-unit: USDD
                    x-descaled: true
                currRewardStatus: { $ref: '#/components/schemas/PhaseStatus' }
                lastStartTime: { type: string, format: date-time, description: Start of the previous (most recently finalized) phase. }
                lastEndTime:   { type: string, format: date-time, description: End of the previous phase. }
                lastReward:
                    type: number
                    format: double
                    description: User's finalized reward in the previous phase (USDD). Use `/mining/distributions` for the on‑chain claim proof.
                    example: 0.0
                    x-unit: USDD
                    x-descaled: true
                lastRewardStatus: { $ref: '#/components/schemas/PhaseStatus' }
                price:
                    type: number
                    format: double
                    description: Current price of the reward token in USD (USDD ≈ 1).
                    example: 1.0
                    x-unit: USD
                    x-descaled: true

        MiningRewardResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data:
                          type: object
                          description: Keyed by **jToken address** of the rewarded market.
                          additionalProperties:
                              $ref: '#/components/schemas/MarketMiningPhase'

        # ------------------------------------------------------------------
        # /mining/distributions
        # ------------------------------------------------------------------
        PhaseDistribution:
            type: object
            description: |
                Per‑phase claim data. All hex strings are bare `0x…` values.
            properties:
                tokenAddress:
                    type: string
                    description: Distribution contract address for this phase.
                    example: TPYmHEhy5n8TCEfYGqW2rPxsghSfzghPDn
                claimed:
                    type: boolean
                    description: '`true` if the user has already claimed this phase.'
                    example: false
                merkleIndex:
                    type: string
                    pattern: '^0x[0-9a-fA-F]+$'
                    description: Index of the Merkle tree this phase belongs to.
                    example: '0x00'
                index:
                    type: string
                    pattern: '^0x[0-9a-fA-F]+$'
                    description: Leaf index of the user inside the Merkle tree.
                    example: '0x0659'
                amount:
                    type: string
                    pattern: '^0x[0-9a-fA-F]+$'
                    description: 'Claimable reward in **underlying smallest units** (USDD: 6 decimals). Decode: `parseInt(amount, 16) / 1e6`.'
                    example: '0x6933158b3c05'
                    x-unit: USDD
                    x-decimals: 6
                    x-descaled: false
                merkleRoot:
                    type: string
                    pattern: '^0x[0-9a-fA-F]{64}$'
                    description: Merkle root of this phase.
                    example: '0x3fdc21ab4fed9e13714fa852ff2e659f9e32af553f4426810ff75e38ccf17a97'
                proof:
                    type: array
                    description: Merkle proof from the user's leaf to `merkleRoot`.
                    items:
                        type: string
                        pattern: '^0x[0-9a-fA-F]{64}$'
                        example: '0x6b734d20b9ca2a0dda57b184789dbb6df2d2993049a9365b6eafe932cd435255'

        MiningDistributionsResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data:
                          type: object
                          description: Keyed by phase label, e.g. `"Phase 22"`.
                          additionalProperties:
                              $ref: '#/components/schemas/PhaseDistribution'

        # ------------------------------------------------------------------
        # /lend/strx
        # ------------------------------------------------------------------
        StakeInfo:
            type: object
            description: sTRX liquid‑staking pool snapshot.
            required: [strxAddress, symbol, decimal, underlyingDecimal, exchangeRate, supplyRate, totalSupply, totalUnderlying, totalSupplyUsd, trxPrice, reserse, rentReserveFactor, rewardReserveFactor]
            properties:
                strxAddress:         { type: string, description: sTRX token contract address., example: TU3kjFuhtEo42tsCBtfYUAZxoqQ4yuSLQ5 }
                symbol:              { type: string, description: Token symbol., example: sTRX }
                decimal:             { type: integer, format: int32, description: sTRX decimals., example: 18 }
                underlyingDecimal:   { type: integer, format: int32, description: TRX decimals., example: 6 }
                exchangeRate:        { type: number, format: double, description: 'TRX per sTRX. `1.18` means 1 sTRX = 1.18 TRX.', example: 1.181813870419231, x-unit: TRX-per-sTRX, x-descaled: true }
                supplyRate:          { type: number, format: double, description: sTRX staking APY as annualized decimal., example: 0.03937302, x-unit: APY-annualized-decimal, x-descaled: true }
                totalSupply:         { type: number, format: double, description: Total sTRX issued., example: 6553955254.250488, x-unit: sTRX, x-decimals: 18, x-descaled: true }
                totalUnderlying:     { type: number, format: double, description: Total TRX held by the pool., example: 7745555225.580224, x-unit: TRX, x-descaled: true }
                totalSupplyUsd:      { type: number, format: double, description: TVL in USD., example: 1729932328.7582867, x-unit: USD, x-descaled: true }
                trxPrice:            { type: number, format: double, description: Current TRX price in USD., example: 0.22334516743810272, x-unit: USD, x-descaled: true }
                reserse:             { type: number, format: double, description: Protocol reserves in TRX. (Field name is a legacy typo — read as `reserves`.), example: 71933070.32142, x-unit: TRX, x-descaled: true }
                rentReserveFactor:   { type: number, format: double, description: Share of rental revenue taken as reserve., example: 0.20, x-unit: fraction-0to1, x-descaled: true }
                rewardReserveFactor: { type: number, format: double, description: Share of staking reward taken as reserve., example: 0.20, x-unit: fraction-0to1, x-descaled: true }

        RentInfo:
            type: object
            description: Energy Rental market snapshot.
            required: [rentMarketAddress, priceFor10KEnergByRent, priceFor10KEnergByStake, priceFor10KEnergByBurn, totalDelegatedEnergyTrx, totalDelegatedEnergyRate]
            properties:
                rentMarketAddress:        { type: string, description: Energy Rental contract address., example: TU2MJ5Veik1LRAgjeSzEdvmDYx7mefJZvd }
                priceFor10KEnergByRent:   { type: number, format: double, description: TRX cost to obtain 10 000 Energy via **rental**., example: 0.65530713, x-unit: TRX, x-descaled: true }
                priceFor10KEnergByStake:  { type: number, format: double, description: TRX **stake** needed to produce 10 000 Energy yourself., example: 885.28697646, x-unit: TRX, x-descaled: true }
                priceFor10KEnergByBurn:   { type: number, format: double, description: TRX cost to obtain 10 000 Energy by **burning** TRX in a transaction., example: 4.20, x-unit: TRX, x-descaled: true }
                totalDelegatedEnergyTrx:  { type: number, format: double, description: Total TRX delegated through the rental market., example: 162748507.90893, x-unit: TRX, x-descaled: true }
                totalDelegatedEnergyRate: { type: number, format: double, description: Utilization rate of the rental pool., example: 0.0325497, x-unit: fraction-0to1, x-descaled: true }

        StrxSnapshotResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data:
                          type: object
                          properties:
                              stakeInfo: { $ref: '#/components/schemas/StakeInfo' }
                              rentInfo:  { $ref: '#/components/schemas/RentInfo' }

        # ------------------------------------------------------------------
        # /lend/strxStake/account
        # ------------------------------------------------------------------
        StrxStakePosition:
            type: object
            description: One wallet's sTRX position.
            required: [addresses, sTRXBalance, unstakingAmount, availableWithdrawAmount]
            properties:
                addresses:               { type: string, description: User wallet., example: TU3kjFuhtEo42tsCBtfYUAZxoqQ4yuSLQ5 }
                sTRXBalance:             { type: number, format: double, description: Current sTRX balance., example: 1.0, x-unit: sTRX, x-decimals: 18, x-descaled: true }
                unstakingAmount:         { type: number, format: double, description: TRX currently in the un‑staking cooldown., example: 24120999.583032, x-unit: TRX, x-descaled: true }
                availableWithdrawAmount: { type: number, format: double, description: TRX past cooldown and ready to withdraw., example: 150865439.643028, x-unit: TRX, x-descaled: true }

        StrxStakeAccountResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data:
                          allOf:
                              - $ref: '#/components/schemas/Pagination'
                              - type: object
                                properties:
                                    list:
                                        type: array
                                        items: { $ref: '#/components/schemas/StrxStakePosition' }

        # ------------------------------------------------------------------
        # /lend/rentResource/account
        # ------------------------------------------------------------------
        RentOrder:
            type: object
            description: One Energy Rental order.
            required: [rentType, renter, receiver, delegatedAmount, rentRemainAmount, rentAmountPerDay]
            properties:
                rentType:         { type: string, description: 'Resource type. Only `"Energy"` is exposed for now.', enum: ['Energy'], example: Energy }
                renter:           { type: string, description: Account paying the rent., example: TWdWEHRLPBVGsXhwjSUv45XwnsfUHXydJa }
                receiver:         { type: string, description: Account receiving the delegated Energy., example: TWdWEHRLPBVGsXhwjSUv45XwnsfUHXydJa }
                delegatedAmount:  { type: number, format: double, description: TRX equivalent of the energy currently delegated., example: 10000.0, x-unit: TRX, x-descaled: true }
                rentRemainAmount: { type: number, format: double, description: TRX prepayment still remaining for this order., example: 8500.0, x-unit: TRX, x-descaled: true }
                rentAmountPerDay: { type: number, format: double, description: Daily TRX cost of the rental order., example: 1500.0, x-unit: TRX, x-descaled: true }

        RentAccountResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data:
                          allOf:
                              - $ref: '#/components/schemas/Pagination'
                              - type: object
                                properties:
                                    list:
                                        type: array
                                        items: { $ref: '#/components/schemas/RentOrder' }

        # ==================================================================
        # JustLend V2 (isolated lending)
        # ==================================================================
        V2TokenRef:
            type: object
            description: Token reference used inside V2 vault / market payloads.
            properties:
                address:  { type: string, description: TRC20 (or WTRX) contract address. }
                symbol:   { type: string, description: Token symbol., example: USDT }
                decimal:  { type: integer, description: Native token decimals., example: 6 }
                name:     { type: string, description: Token display name. }

        V2Vault:
            type: object
            description: |
                One V2 supply vault (ERC4626). Field names differ slightly between
                the list and detail endpoints (`vaultAddress`/`assetDecimals` in the
                list vs `address`/`assetDecimal` in detail); treat all as optional.
            properties:
                vaultAddress:      { type: string, description: Vault contract address (list endpoint)., example: TXejU9jmd1ooQyY3Zmpo15yN7MjSFYUESg }
                address:           { type: string, description: Vault contract address (detail endpoint). }
                vaultName:         { type: string, description: Vault display name. }
                name:              { type: string, description: Vault display name (detail endpoint). }
                vaultSymbol:       { type: string, description: Vault share token symbol. }
                assetAddress:      { type: string, description: Underlying (deposited) asset address. }
                asset:             { type: string, description: Underlying asset address (detail endpoint). }
                assetSymbol:       { type: string, description: Underlying asset symbol., example: USDT }
                assetDecimals:     { type: integer, description: Underlying decimals (list endpoint)., example: 6 }
                assetDecimal:      { type: integer, description: Underlying decimals (detail endpoint)., example: 6 }
                apy:               { type: string, description: Current supply APY., x-unit: APY-annualized-decimal, x-descaled: true }
                totalSupplyAmount: { type: string, description: Total assets supplied to the vault., x-unit: underlying, x-descaled: true }
                tvlInUsd:          { type: string, description: Vault TVL in USD., x-unit: USD, x-descaled: true }
                liquidity:         { type: string, description: Withdrawable liquidity in underlying units., x-unit: underlying, x-descaled: true }
                liquidityInUsd:    { type: string, description: Withdrawable liquidity in USD., x-unit: USD, x-descaled: true }
                shareValue:        { type: string, description: Underlying value of one vault share., x-unit: underlying-per-share, x-descaled: true }
                performanceFee:    { type: string, description: Curator performance fee., x-unit: fraction-0to1, x-descaled: true }
                curator:           { type: string, description: Curator address managing allocations. }
                collateralTokens:  { type: array, description: Collateral tokens the vault lends against., items: { $ref: '#/components/schemas/V2TokenRef' } }

        V2Market:
            type: object
            description: One isolated V2 market — a single `(loan, collateral)` pair.
            properties:
                id:                 { type: string, description: Market id (`bytes32` hex). `marketInfo` may expose it as `marketId`. }
                marketId:           { type: string, description: Market id (detail endpoint). }
                marketName:         { type: string, description: Human label, e.g. `BTC / USDT`. }
                loanAddress:        { type: string, description: Loan (borrowable) token address. }
                loanSymbol:         { type: string, description: Loan token symbol., example: USDT }
                loanDecimal:        { type: integer, description: Loan token decimals. }
                collateralAddress:  { type: string, description: Collateral token address. }
                collateralSymbol:   { type: string, description: Collateral token symbol., example: BTC }
                collateralDecimal:  { type: integer, description: Collateral token decimals. }
                oracleAddress:      { type: string, description: Price‑feed (oracle) contract. }
                interestModeAddress: { type: string, description: Interest‑rate model (IRM) contract. }
                lltv:               { type: string, description: 'Liquidation loan‑to‑value (decimal `[0,1]`), e.g. `0.75`.', x-unit: fraction-0to1, x-descaled: true }
                borrowApy:          { type: string, description: Borrow APY., x-unit: APY-annualized-decimal, x-descaled: true }
                supplyApy:          { type: string, description: Supply APY., x-unit: APY-annualized-decimal, x-descaled: true }
                liquidity:          { type: string, description: Borrowable liquidity in loan units., x-unit: loan, x-descaled: true }
                liquidityUsd:       { type: string, description: Borrowable liquidity in USD., x-unit: USD, x-descaled: true }
                tvl:                { type: string, description: Market TVL in USD., x-unit: USD, x-descaled: true }
                borrowPrice:        { type: string, description: Loan token price in USD., x-unit: USD, x-descaled: true }
                collateralPrice:    { type: string, description: Collateral token price in USD., x-unit: USD, x-descaled: true }
                minLoanValue:       { type: string, description: Minimum borrow value (USD). }
                risk:               { type: string, nullable: true, description: 'Caller position risk (`0–1`); only present when `address` is supplied. `→1` ⇒ liquidatable.', x-unit: fraction-0to1, x-descaled: true }

        V2UserMarketPosition:
            type: object
            description: A wallet's position within one isolated market.
            properties:
                marketId:          { type: string }
                borrowAmount:      { type: string, description: Outstanding borrow in loan units., x-unit: loan, x-descaled: true }
                borrowUsd:         { type: string, x-unit: USD, x-descaled: true }
                collateralAmount:  { type: string, description: Collateral posted., x-unit: collateral, x-descaled: true }
                collateralUsd:     { type: string, x-unit: USD, x-descaled: true }
                loanSymbol:        { type: string }
                collateralSymbol:  { type: string }
                lltv:              { type: string, x-unit: fraction-0to1, x-descaled: true }
                risk:              { type: string, description: '`0–1`; `→1` ⇒ liquidatable.', x-unit: fraction-0to1, x-descaled: true }

        V2UserVaultPosition:
            type: object
            description: A wallet's position in one supply vault.
            properties:
                vaultAddress:  { type: string }
                vaultName:     { type: string }
                assetSymbol:   { type: string }
                depositAmount: { type: string, x-unit: underlying, x-descaled: true }
                depositUsd:    { type: string, x-unit: USD, x-descaled: true }
                shareAmount:   { type: string, description: Vault shares held. }
                apy:           { type: string, x-unit: APY-annualized-decimal, x-descaled: true }

        V2UserPosition:
            type: object
            description: Aggregated V2 overview for one wallet.
            properties:
                totalSupplyUsd:     { type: string, x-unit: USD, x-descaled: true }
                totalBorrowUsd:     { type: string, x-unit: USD, x-descaled: true }
                totalCollateralUsd: { type: string, x-unit: USD, x-descaled: true }
                netEarnApy:         { type: string, x-unit: APY-annualized-decimal, x-descaled: true }
                netBorrowRate:      { type: string, x-unit: APY-annualized-decimal, x-descaled: true }
                collateralCount:    { type: integer }
                vaults:  { type: array, items: { $ref: '#/components/schemas/V2UserVaultPosition' } }
                markets: { type: array, items: { $ref: '#/components/schemas/V2UserMarketPosition' } }

        V2PendingLiquidation:
            type: object
            description: A V2 position currently eligible for liquidation.
            properties:
                userAddress:      { type: string, description: Borrower whose position is liquidatable. }
                marketId:         { type: string }
                debtToken:        { type: string, description: Token owed (loan token). }
                debtAmount:       { type: string, x-unit: loan, x-descaled: true }
                collateralToken:  { type: string }
                collateralAmount: { type: string, x-unit: collateral, x-descaled: true }
                borrowUsd:        { type: string, x-unit: USD, x-descaled: true }
                collateralUsd:    { type: string, x-unit: USD, x-descaled: true }
                lltv:             { type: string, x-unit: fraction-0to1, x-descaled: true }
                risk:             { type: string, x-unit: fraction-0to1, x-descaled: true }

        V2LiquidationRecord:
            type: object
            description: A historical V2 liquidation.
            properties:
                txHash:            { type: string }
                timestamp:         { type: integer, format: int64, description: Unix epoch (seconds). }
                userAddress:       { type: string, description: Liquidated borrower. }
                liquidatorAddress: { type: string }
                marketId:          { type: string }
                debtToken:         { type: string }
                debtAmount:        { type: string, x-unit: loan, x-descaled: true }
                collateralToken:   { type: string }
                collateralAmount:  { type: string, x-unit: collateral, x-descaled: true }
                profit:            { type: string, description: Liquidator profit in USD., x-unit: USD, x-descaled: true }
                type:              { type: string, description: Liquidation source., enum: [public, bot] }

        V2Record:
            type: object
            description: One V2 supply / withdraw / borrow / repay record.
            properties:
                txHash:       { type: string }
                timestamp:    { type: integer, format: int64, description: Unix epoch (seconds). }
                vaultAddress: { type: string }
                assetSymbol:  { type: string }
                amount:       { type: string, x-descaled: true }
                usd:          { type: string, x-unit: USD, x-descaled: true }
                type:         { type: string, description: Action type., example: deposit }

        # --- V2 response envelopes ---
        V2VaultListResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data:
                          allOf:
                              - $ref: '#/components/schemas/Pagination'
                              - type: object
                                properties:
                                    list: { type: array, items: { $ref: '#/components/schemas/V2Vault' } }

        V2VaultResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data: { $ref: '#/components/schemas/V2Vault' }

        V2MarketListResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data:
                          allOf:
                              - $ref: '#/components/schemas/Pagination'
                              - type: object
                                properties:
                                    list: { type: array, items: { $ref: '#/components/schemas/V2Market' } }

        V2MarketResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data: { $ref: '#/components/schemas/V2Market' }

        V2UserPositionResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data: { $ref: '#/components/schemas/V2UserPosition' }

        V2UserMarketPositionResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data: { $ref: '#/components/schemas/V2UserMarketPosition' }

        V2PendingLiquidationResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data:
                          allOf:
                              - $ref: '#/components/schemas/Pagination'
                              - type: object
                                properties:
                                    list: { type: array, items: { $ref: '#/components/schemas/V2PendingLiquidation' } }

        V2LiquidationRecordResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data:
                          allOf:
                              - $ref: '#/components/schemas/Pagination'
                              - type: object
                                properties:
                                    list: { type: array, items: { $ref: '#/components/schemas/V2LiquidationRecord' } }

        V2LiquidationTokenListResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data:
                          type: object
                          properties:
                              loanSymbols:       { type: array, items: { type: string } }
                              collateralSymbols: { type: array, items: { type: string } }

        V2RecordResponse:
            allOf:
                - $ref: '#/components/schemas/EnvelopeOk'
                - type: object
                  properties:
                      data:
                          allOf:
                              - $ref: '#/components/schemas/Pagination'
                              - type: object
                                properties:
                                    list: { type: array, items: { $ref: '#/components/schemas/V2Record' } }
