openapi: 3.1.2
info:
  title: JustLend DAO
  description: JustLend Doc API
  version: 1.0.0

servers:
  - url: https://openapi.just.network
  - url: '{protocol}://openapi.just.network/{path}'
    description: Responds with your request data.
    variables:
      protocol:
        enum:
          - https
        default: https
      path:
        default: ''

tags:
  - name: Supply and Borrow Market V1
    description: Everything about supply and borrow market on v1
  - name: Supply and Borrow Market V2
    description: Everything about supply and borrow market on v2
  - name: Staked TRX Market and Energy Rental
    description: Everything about staked TRX market information

paths:
  '/v2/index/vault':
    get:
      tags:
        - Supply and Borrow Market V2
      summary: Get SBM V2 vault Information
      description: Query to get all the supply and borrow market V2 vault information, which includes token information of each market.
      parameters:
        - '$ref': '#/components/parameters/addressV2'
        - '$ref': '#/components/parameters/sort'
        - '$ref': '#/components/parameters/order'
        - '$ref': '#/components/parameters/deposit'
        - '$ref': '#/components/parameters/collateral'
        - '$ref': '#/components/parameters/keyword'
        - '$ref': '#/components/parameters/userPage'
        - '$ref': '#/components/parameters/userPageSize'
        - '$ref': '#/components/parameters/allPage'
        - '$ref': '#/components/parameters/allPageSize'
      responses:
        '200':
          description: Return the list of vault information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: Status code of the response, 200 means success.
                    examples:
                      - 0
                  message:
                    type: string
                    description: Response message, eg.SUCCESS.
                    examples:
                      - SUCCESS
                  data:
                    type: object
                    description: Token information of each vault.
                    properties:
                      userVaults:
                        type: object
                        description: Vaults the user has participated in.
                        properties:
                          totalCount:
                            type: integer
                            description: Total number of vaults the user has participated in.
                            examples:
                              - 8
                          list:
                            type: array
                            description: List of vaults the user has participated in.
                            items:
                              '$ref': '#/components/schemas/vaultsList'
                      allVaults:
                        type: object
                        description: All the vaults.
                        properties:
                          totalCount:
                            type: integer
                            description: Total number of vaults.
                            examples:
                              - 6
                          list:
                            type: array
                            description: List of vaults.
                            items:
                              '$ref': '#/components/schemas/vaultsList'
                      depositTokens:
                        type: array
                        items:
                          '$ref': '#/components/schemas/depositTokens'
                      collateralTokens:
                        type: array
                        items:
                          '$ref': '#/components/schemas/collateralTokens'
                  timestamp:
                    type: integer
                    description: timestamp.
                    examples:
                      - 1761818673076
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                '$ref': '#/components/responses/BadRequest'
  '/v2/index/market':
    get:
      tags:
        - Supply and Borrow Market V2
      summary: Get SBM V2 market Information
      description: Query to get all the supply and borrow market V2 market information, which includes token information of each market.
      parameters:
        - '$ref': '#/components/parameters/addressV2'
        - '$ref': '#/components/parameters/sort'
        - '$ref': '#/components/parameters/order'
        - '$ref': '#/components/parameters/deposit'
        - '$ref': '#/components/parameters/collateral'
        - '$ref': '#/components/parameters/keyword'
        - '$ref': '#/components/parameters/userPage'
        - '$ref': '#/components/parameters/userPageSize'
        - '$ref': '#/components/parameters/allPage'
        - '$ref': '#/components/parameters/allPageSize'
      responses:
        '200':
          description: Return the list of vault information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: Status code of the response, 200 means success.
                    examples:
                      - 0
                  message:
                    type: string
                    description: Response message, eg.SUCCESS.
                    examples:
                      - SUCCESS
                  data:
                    type: object
                    description: Token information of each market.
                    properties:
                      userMarkets:
                        type: array
                        description: Markets the user has participated in.
                        items:
                          '$ref': '#/components/schemas/v2marketsList'
                      allMarket:
                        type: array
                        description: All the markets.
                        items:
                          '$ref': '#/components/schemas/v2marketsList'
                      userMarketsCount:
                        type: integer
                        description: the number of markets user has participated in.
                        examples:
                          - 8
                      allMarketsCount:
                        type: integer
                        description: the number of all the market.
                        examples:
                          - 6
                  timestamp:
                    type: integer
                    description: timestamp.
                    examples:
                      - 1761818673076
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                '$ref': '#/components/responses/BadRequest'
  '/v2/index/position':
    get:
      tags:
        - Supply and Borrow Market V2
      summary: Get user SBM V2 vault and market Information
      description: Query to get user's the supply and borrow market V2 vault and market information.
      parameters:
        - '$ref': '#/components/parameters/address1'
      responses:
        '200':
          description: Return the list of vault and market information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: Status code of the response, 200 means success.
                    examples:
                      - 0
                  message:
                    type: string
                    description: Response message, eg.SUCCESS.
                    examples:
                      - SUCCESS
                  data:
                    type: object
                    description: User position information.
                    properties:
                      totalBorrowUsd:
                        type: integer
                        description: Total borrowed value in USD across all markets.
                        examples:
                          - 586329496.024834777954885608
                      totalCollateralUsd:
                        type: integer
                        description: Total collateral value in USD across all markets.
                        examples:
                          - 915902433.287186268898300512
                      totalSupplyUsd:
                        type: integer
                        description: Total supplied value in USD across all vaults.
                        examples:
                          - 719891232.071536779403686523
                      dailyRevenue:
                        type: integer
                        description: Daily earnings generated from the user’s supplied assets.
                        examples:
                          - 6.27
                      netEarnApy:
                        type: integer
                        description: Net APY from supplied assets, calculated as the weighted average APY of all vaults where the user has deposits.
                        examples:
                          - 0.0792
                      netBorrowRate:
                        type: integer
                        description: Net borrow rate, calculated as the weighted average borrow rate across all markets where the user has outstanding loans.
                        examples:
                          - 0.0668
                      collateralCount:
                        type: integer
                        description: Number of markets where the user has collateral greater than zero.
                        examples:
                          - 1
                      vaultNew:
                        type: boolean
                        description: Indicates whether the user is a new V2 vault user.
                        examples:
                          - false
                      borrowNew:
                        type: boolean
                        description: Indicates whether the user is a new V2 market user.
                        examples:
                          - false
                      markets:
                        type: array
                        description: Markets the user has participated in.
                        items:
                          '$ref': '#/components/schemas/myMarketList'
                      vaults:
                        type: array
                        description: Vaults the user has participated in.
                        items:
                          '$ref': '#/components/schemas/myVaultList'
                  timestamp:
                    type: integer
                    description: timestamp.
                    examples:
                      - 1761818673076
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                '$ref': '#/components/responses/BadRequest'
  '/v2/vault/position':
    get:
      tags:
        - Supply and Borrow Market V2
      summary: Get user SBM V2 vault Information
      description: Query to get user's vault information.
      parameters:
        - '$ref': '#/components/parameters/vaultAddress'
        - '$ref': '#/components/parameters/address1'
      responses:
        '200':
          description: Return the list of user's vault information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: Status code of the response, 200 means success.
                    examples:
                      - 0
                  message:
                    type: string
                    description: Response message, eg.SUCCESS.
                    examples:
                      - SUCCESS
                  data:
                    type: object
                    description: User vault information.
                    properties:
                      shareAmount:
                        type: integer
                        description: The number of vault shares held by the user.
                        examples:
                          - 1901904999104896240974
                      depositAmount:
                        type: integer
                        description: The user’s deposited asset amount in the vault.
                        examples:
                          - 1901.905002241447229695
                      depositUsd:
                        type: integer
                        description: The USD value of the user’s deposited assets.
                        examples:
                          - 1901.905002241447229696
                      apy:
                        type: integer
                        description: The annual percentage yield (APY) of the vault.
                        examples:
                          - 0.000000000000009026
                      dailyInterest:
                        type: integer
                        description: User’s estimated daily interest earnings.
                        examples:
                          - 0.000000000017166595
                  timestamp:
                    type: integer
                    description: timestamp.
                    examples:
                      - 1761818673076
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                '$ref': '#/components/responses/BadRequest'
  '/v2/market/position':
    get:
      tags:
        - Supply and Borrow Market V2
      summary: Get user SBM V2 market Information
      description: Query to get user's market information.
      parameters:
        - '$ref': '#/components/parameters/v2marketID'
        - '$ref': '#/components/parameters/address1'
      responses:
        '200':
          description: Return the list of user's market information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: Status code of the response, 200 means success.
                    examples:
                      - 0
                  message:
                    type: string
                    description: Response message, eg.SUCCESS.
                    examples:
                      - SUCCESS
                  data:
                    type: object
                    description: User vault information.
                    properties:
                      borrowAddress:
                        type: string
                        description: Contract address of the borrowed token.
                        examples:
                          - TXDk8mbtRbXeYuMNS83CfKPaYYT8XWv9Hz
                      borrowSymbol:
                        type: string
                        description: Symbol of the borrowed token.
                        examples:
                          - USDD
                      borrowAmount:
                        type: integer
                        description: Amount of the borrowed asset.
                        examples:
                          - 339.08000000
                      borrowShares:
                        type: integer
                        description: Borrow shares held by the user.
                        examples:
                          - 339080000000000000000
                      borrowUsd:
                        type: integer
                        description: Borrowed value in USD.
                        examples:
                          - 339.08000000
                      collateralAddress:
                        type: string
                        description: Contract address of the collateral token.
                        examples:
                          - TMwFHYXLJaRUPeW6421aqXL4ZEzPRFGkGT
                      collateralSymbol:
                        type: string
                        description: Symbol of the collateral token.
                        examples:
                          - USDJ
                      collateralAmount:
                        type: integer
                        description: Quantity of the collateral asset supplied by the user.
                        examples:
                          - 705.00000000
                      collateralUsd:
                        type: integer
                        description: USD value of the collateral.
                        examples:
                          - 705.00000000
                      ltv:
                        type: integer
                        description: Loan-to-Value ratio.
                        examples:
                          - 0.01
                      lltv:
                        type: integer
                        description: Liquidation threshold.
                        examples:
                          - 0.1
                      borrowApy:
                        type: integer
                        description: Annual percentage yield (APY) for borrowing.
                        examples:
                          - 0.0486
                      dailyInterest:
                        type: integer
                        description: Daily interest owed by the user.
                        examples:
                          - 1.162284
                      risk:
                        type: integer
                        description: Risk ratio.
                        examples:
                          - 0.1
                      displayDecimal:
                        type: integer
                        description: Number of decimals used for displaying token amounts.
                        examples:
                          - 6
                  timestamp:
                    type: integer
                    description: timestamp.
                    examples:
                      - 1761818673076
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                '$ref': '#/components/responses/BadRequest'
  '/lend/jtoken':
    get:
      tags:
        - Supply and Borrow Market V1
      summary: Get Supply and Borrow Market V1 Information
      description: Query to get all the supply and borrow market information, which includes token information of each market.
      parameters:
        - '$ref': '#/components/parameters/noParameters'
      responses:
        '200':
          description: Return the list of market information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: Status code of the response, 0 means success.
                    examples:
                      - 0
                  data:
                    type: object
                    description: Token information of each market.
                    properties:
                      tokenList:
                        type: array
                        items:
                          '$ref': '#/components/schemas/tokenList'
                  message:
                    type: string
                    description: Response message, eg.SUCCESS.
                    examples:
                      - SUCCESS
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                '$ref': '#/components/responses/BadRequest'
  '/lend/account':
    get:
      tags:
        - Supply and Borrow Market V1
      summary: Get Account Information on V1
      description: Query to get the SBM user account information. (To pass parameters to obtain specific information, please click 「Test」and fill in the address information in the Query parameters section.)
      parameters:
        - '$ref': '#/components/parameters/addresses'
        - '$ref': '#/components/parameters/minBorrowValueInTrx'
        - '$ref': '#/components/parameters/maxHealth'
        - '$ref': '#/components/parameters/pageNo'
        - '$ref': '#/components/parameters/pageSize'
      responses:
        '200':
          description: Return the list of user account information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: Status code of the response, 0 means success.
                    examples:
                      - 0
                  data:
                    type: object
                    description: User token information.
                    properties:
                      totalPage:
                        type: integer
                        description: Total number of pages.
                      list:
                        type: array
                        items:
                          '$ref': '#/components/schemas/list'
                      totalCount:
                        type: integer
                        description: Total count of user tokens.
                  message:
                    type: string
                    description: Response message, eg.SUCCESS.
                    examples:
                      - SUCCESS
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                '$ref': '#/components/responses/BadRequest'
  '/mining/reward':
    get:
      tags:
        - Supply and Borrow Market V1
      summary: Get User Supply Mining Reward Information on V1
      description: Query to get user's the latest usdd mining reward information, which includes the current mining phase and its rewards, mining start time and end time. （To pass parameters to obtain specific information, please click 「Test」and fill in the address information in the Query parameters section）
      operationId: getAddress
      security:
        - {}
      parameters:
        - '$ref': '#/components/parameters/address'
        - '$ref': '#/components/parameters/address1'
      responses:
        '200':
          description: Returns the user's supply mining reward information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: Status code of the response, 0 means success.
                    examples:
                      - 0
                  data:
                    type: object
                    description: Reward information for each pool.
                    properties:
                      TKFRELGGoRgiayhwJTNNLqCNjFoLBh3Mnf:
                        type: object
                        '$ref': '#/components/schemas/USDD'
                  message:
                    type: string
                    description: Response message, eg.SUCCESS.
                    examples:
                      - SUCCESS
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                '$ref': '#/components/responses/BadRequest'
  '/mining/apy':
    get:
      tags:
        - Supply and Borrow Market V1
      summary: Get Market Mining APY Information on V1
      description: Query to get the mining APY information of each market's USDD rewards. The Mining APY for each market will be adjusted according to market conditions. Currently, the supply mining activities are mainly in the USDD market, and new markets may be added in the future based on market demand.
      parameters:
        - '$ref': '#/components/parameters/noParameters'
      responses:
        '200':
          description: Return the mining APY information of each market's USDD rewards.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: Status code of the response, 0 means success.
                    examples:
                      - 0
                  data:
                    type: object
                    description: Mining APY information of each market.
                    properties:
                      TKFRELGGoRgiayhwJTNNLqCNjFoLBh3Mnf:
                        type: object
                        '$ref': '#/components/schemas/USDDapy'
                  message:
                    type: string
                    description: Response message, eg.SUCCESS.
                    examples:
                      - SUCCESS
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                '$ref': '#/components/responses/BadRequest'
  '/mining/distributions':
    get:
      tags:
        - Supply and Borrow Market V1
      summary: Get User Supply Mining Reward Distributions on V1
      description: Query to get user's all reward distributions, including mining token address, if the mining reward has been claimed or not claimed, and the reward amount in the corresponding cycle. (To pass parameters to obtain specific information, please click 「Test」and fill in the address information in the Query parameters section.)
      operationId: getAddress
      security:
        - {}
      parameters:
        - '$ref': '#/components/parameters/address'
        - '$ref': '#/components/parameters/address1'
      responses:
        '200':
          description: Return the user's all reward cycles, including those that have been claimed and those that have not been claimed. Filter out the cycles where claimed is false, that is, the unclaimed reward cycles.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: Status code of the response, 0 means success.
                    examples:
                      - 0
                  data:
                    type: object
                    description: Reward information for each mining period.
                    properties:
                      Phase 22:
                        type: object
                        description: The phase of 22nd supply mining reward information
                        '$ref': '#/components/schemas/rewardDistribution'
                  message:
                    type: string
                    description: Response message, eg.SUCCESS.
                    examples:
                      - SUCCESS
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                '$ref': '#/components/responses/BadRequest'
  '/lend/strx':
    get:
      tags:
        - Staked TRX Market and Energy Rental
      summary: Get Staked TRX and Energy Rental Markets Information
      description: Query to get all the the sTRX staking and energy rental markets information.
      parameters:
        - '$ref': '#/components/parameters/noParameters'
      responses:
        '200':
          description: Return  the sTRX staking and energy rental markets information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: Status code of the response, 0 means success.
                    examples:
                      - 0
                  data:
                    type: object
                    description: Rent and stake information.
                    properties:
                      rentInfo:
                        '$ref': '#/components/schemas/rentInfo'
                      stakeInfo:
                        '$ref': '#/components/schemas/stakeInfo'
                  message:
                    type: string
                    description: Response message, eg.SUCCESS.
                    examples:
                      - SUCCESS
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                '$ref': '#/components/responses/BadRequest'
  '/lend/strxStake/account':
    get:
      tags:
        - Staked TRX Market and Energy Rental
      summary: Get user data of sTRX liquidity staking
      description: Query to get the list of user sTRX staking information.
      parameters:
        - '$ref': '#/components/parameters/addresses'
        - '$ref': '#/components/parameters/pageNo'
        - '$ref': '#/components/parameters/pageSize'
        - '$ref': '#/components/parameters/minStrxBalance'
      responses:
        '200':
          description: Returns the list of user sTRX staking information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: Status code of the response, 0 means success.
                    examples:
                      - 0
                  data:
                    type: object
                    description: User staking sTRX information.
                    properties:
                      totalPage:
                        type: integer
                        description: Total number of pages.
                      list:
                        '$ref': '#/components/schemas/stakeList'
                      totalCount:
                        type: integer
                        description: Total count of records.
                  message:
                    type: string
                    description: Response message, eg.SUCCESS.
                    examples:
                      - SUCCESS
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                '$ref': '#/components/responses/BadRequest'
  '/lend/rentResource/account':
    get:
      tags:
        - Staked TRX Market and Energy Rental
      summary: Get user data of resource rent (only supports Energy Rental currently)
      description: Query to get the list of user energy rental information.
      parameters:
        - '$ref': '#/components/parameters/addresses'
        - '$ref': '#/components/parameters/pageNo'
        - '$ref': '#/components/parameters/pageSize'
        - '$ref': '#/components/parameters/minStrxBalance'
        - '$ref': '#/components/parameters/maxRemainingRentAmount'
      responses:
        '200':
          description: Returns the list of user energy rental information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: Status code of the response, 0 means success.
                    examples:
                      - 0
                  data:
                    type: object
                    description: User rent information.
                    properties:
                      totalPage:
                        type: integer
                        description: Total number of pages.
                      list:
                        '$ref': '#/components/schemas/rentList'
                      totalCount:
                        type: integer
                        description: Total count of records.
                  message:
                    type: string
                    description: Response message, eg.SUCCESS.
                    examples:
                      - SUCCESS
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                '$ref': '#/components/responses/BadRequest'

components:
  parameters:
    noParameters:
      name: No Parameters.
      in: query
    minBorrowValueInTrx:
      name: minBorrowValueInTrx
      in: query
      description: Query the minimum value of borrowed asset in TRX.
      required: false
      schema:
        type: string
    maxHealth:
      name: maxHealth
      in: query
      description: Query the max health level
      required: false
      schema:
        type: string
    pageNo:
      name: pageNo
      in: query
      description: Page number.
      required: false
      schema:
        type: integer
        format: int64
    pageSize:
      name: pageSize
      in: query
      description: Page size, maximum 1000.
      required: false
      schema:
        type: integer
        format: int64
    address:
      name: address
      in: path
      description: Query of the user address.
      required: true
      schema:
        type: string
    addresses:
      name: addresses
      in: query
      description: Query of the user addresses. (To query multiple addresses at the same time, please use ‘,’ to separate multiple addresses.)
      required: true
      schema:
        type: string
    address1:
      name: address
      in: query
      description: The user’s wallet address.
      required: true
      schema:
        type: string
    minStrxBalance:
      name: minStrxBalance
      in: query
      description: Minimum amount of sTRX held.
      required: false
      schema:
        type: string
    maxRemainingRentAmount:
      name: maxRemainingRentAmount
      in: query
      description: Maximum remaining rent amount.
      required: false
      schema:
        type: string
    addressV2:
      name: address
      in: query
      description: The user’s wallet address. If provided, the response will include the list of vaults the user participates in.
      required: false
      schema:
        type: string
    vaultAddress:
      name: vaultAddress
      in: query
      description: The user’s vault address.
      required: true
      schema:
        type: string
    sort:
      name: sort
      in: query
      description: The field used for sorting. Options are tvl or apy, default is tvl.
      required: false
      schema:
        type: string
    order:
      name: order
      in: query
      description: Sorting direction. Options are desc or asc, default is desc.
      required: false
      schema:
        type: string
    deposit:
      name: deposit
      in: query
      description: Filter condition for deposit tokens. Multiple tokens can be separated by commas and will be interpreted as an OR condition.
      required: false
      schema:
        type: string
    collateral:
      name: collateral
      in: query
      description: Filter condition for collateral tokens. Multiple tokens can be separated by commas and will be interpreted as an OR condition.
      required: false
      schema:
        type: string
    keyword:
      name: keyword
      in: query
      description: Keyword search. Used for partial matching against vault names and collateral token symbols.
      required: false
      schema:
        type: string
    userPage:
      name: userPage
      in: query
      description: Page number for the user’s vault list. Default is 1.
      required: false
      schema:
        type: integer
    userPageSize:
      name: userPageSize
      in: query
      description: Number of items per page in the user’s vault list. Default is 20.
      required: false
      schema:
        type: integer
    allPage:
      name: allPage
      in: query
      description: Page number for the full vault list. Default is 1.
      required: false
      schema:
        type: integer
    allPageSize:
      name: allPageSize
      in: query
      description: Number of items per page in the full vault list. Default is 20.
      required: false
      schema:
        type: integer
    v2marketID:
      name: market
      in: query
      description: The user's V2 market id.
      required: true
      schema:
        type: string

  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            '$ref': '#/components/schemas/Error'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            '$ref': '#/components/schemas/Error'
    NotFound:
      description: NotFound
      content:
        application/json:
          schema:
            '$ref': '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            '$ref': '#/components/schemas/Error'

  schemas:
    tokenList:
      type: object
      properties:
        address:
          type: string
          description: The address of the market.
          examples:
            - TE2RzoSV3wFK99w6J9UnnZ4vLfXYoxvRwP
        borrowIndex:
          type: integer
          description: The borrow index of the market.
          format: int64
          examples:
            - 1224530412174750380
        borrowRate:
          type: integer
          description: The current borrow rate of the market.
          format: int64
          examples:
            - 0.064673716541040000
        cash:
          type: integer
          description: The available cash amount.
          format: int64
          examples:
            - 349909392.537020000000000000
        collateralFactor:
          type: integer
          description: The collateral factor for the market.
          format: int64
          examples:
            - 0.750000000000000000
        exchangeRate:
          type: integer
          description: The current exchange rate.
          format: int64
          examples:
            - 0.010448063811832339
        reserveFactor:
          type: integer
          description: The reserve factor for the market.
          format: int64
          examples:
            - 0.100000000000000000
        reserves:
          type: integer
          description: The total reserves held.
          format: int64
          examples:
            - 2300647.881336000000000000
        supplyRate:
          type: integer
          description: The current supply rate.
          format: int64
          examples:
            - 0.009044500002192000
        symbol:
          type: string
          description: The symbol of the market.
          examples:
            - jTRX
        totalBorrows:
          type: integer
          description: The total amount borrowed.
          format: int64
          examples:
            - 63951044.565948000000000000
        totalSupply:
          type: integer
          description: The total supply of the asset.
          examples:
            - 39391010299.49149122
        underlyingAddress:
          type: string
          description: The underlying asset's address.
          examples:
            - T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb
        underlyingDecimal:
          type: integer
          description: The decimal places for the underlying market, which is 18.
          format: int64
          examples:
            - 6
        underlyingPriceInTrx:
          type: integer
          description: The price of the underlying market in TRX.
          format: int64
          examples:
            - 1.000000000000000000000000
        underlyingSymbol:
          type: string
          description: The symbol of the underlying market.
          examples:
            - TRX
    list:
      type: object
      properties:
        addresses:
          type: string
          description: User's wallet addresses.
          examples:
            - T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb
        health:
          type: integer
          description: Health factor of the account.
          format: int64
          examples:
            - 5.88
        liquidateStatusStartTime:
          type: string
          format: date-time
          nullable: true
          description: Start time of liquidation status.
        tokens:
          '$ref': '#/components/schemas/tokens'
        totalBorrowValueInTrx:
          type: integer
          description: Total borrowed value in TRX.
          format: int64
          examples:
            - 11.277370
        totalCollateralValueInTrx:
          type: integer
          description: Total collateral value in TRX.
          format: int64
          examples:
            - 24.126681
    tokens:
      type: array
      items:
        type: object
        properties:
          address:
            type: string
            description: Token contract address.
            examples:
              - TNSBA6KvSvMoTqQcEgpVK7VhHT3z7wifxy
          borrowBalanceUnderlying:
            type: integer
            description: Borrowed balance of the token in underlying units.
            format: int64
            examples:
              - 0.704372293431165977793198
          entered:
            type: integer
            description: Indicates if the token is entered into the market (1 or 0).
            format: int64
            examples:
              - 1
          supplyBalanceJtoken:
            type: integer
            description: Supplied balance in JToken units.
            format: int64
            examples:
              - 1.09062037
          supplyBalanceUnderlying:
            type: integer
            description: Supplied balance in underlying units.
            format: int64
            examples:
              - 0.01148891329334797277745383
          underlyingSymbol:
            type: string
            description: Symbol of the underlying asset.
            examples:
              - USDD
    USDD:
      type: object
      properties:
        currEndTime:
          type: string
          format: date-time
          description: Current phase end time.
        currPhase:
          type: integer
          description: Current phase number.
          format: int64
          examples:
            - 64
        currReward:
          type: integer
          description: Current phase reward.
          format: int64
          examples:
            - 0.0000
        currRewardStatus:
          type: integer
          description: Current phase reward status.
          format: int64
          examples:
            - 1
        currStartTime:
          type: string
          format: date-time
          description: Current phase start time.
        lastEndTime:
          type: string
          format: date-time
          description: Last phase end time.
        lastReward:
          type: integer
          description: Last reward amount.
          format: int64
          examples:
            - 0
        lastRewardStatus:
          type: integer
          description: Status of the last reward.
          format: int64
          examples:
            - 2
        lastStartTime:
          type: string
          format: date-time
          description: Last phase start time.
        price:
          type: integer
          description: Price of the asset.
          format: int64
          examples:
            - 1.000000000000000000
    USDDapy:
      type: object
      properties:
        USDD:
          type: integer
          description: USDD market apy.
          format: int64
          example:
            - 0.09175706
    rewardDistribution:
      type: object
      properties:
        tokenAddress:
          type: string
          description: The supply mining market address.
          examples:
            - TPYmHEhy5n8TCEfYGqW2rPxsghSfzghPDn
        amount:
          type: string
          description: The amount of mining reward can be claimed in this phase, in hexadecimal format.
          examples:
            - :0x6933158b3c05
        claimed:
          type: boolean
          description: Indicates if this phase reward has been claimed. Ture means claimed, false means not yet.
        index:
          type: string
          description: Index in hexadecimal format.
          examples:
            - :0x0659
        merkleIndex:
          type: string
          description: Merkle index in hexadecimal format.
          examples:
            - :0x00
        proof:
          type: array
          description: Merkle proof element in hexadecimal format, which used to proof this phase reward belong to user.
          items:
            '$ref': '#/components/schemas/proofs'
        merkleRoot:
          type: string
          description: Merkle root in hexadecimal format.
          examples:
            - :0x3fdc21ab4fed9e13714fa852ff2e659f9e32af553f4426810ff75e38ccf17a97
    proofs:
      type: array
      items:
        type: string
        example:
          - :0x6b734d20b9ca2a0dda57b184789dbb6df2d2993049a9365b6eafe932cd435255
    rentInfo:
      type: object
      properties:
        priceFor10KEnergByBurn:
          type: integer
          format: int64
          examples:
            - 4.20000000
        priceFor10KEnergByRent:
          type: integer
          format: int64
          examples:
            - 0.65530713
        priceFor10KEnergByStake:
          type: integer
          format: int64
          examples:
            - 885.28697646
        rentMarketAddress:
          type: string
          examples:
            - TU2MJ5Veik1LRAgjeSzEdvmDYx7mefJZvd
        totalDelegatedEnergyRate:
          type: integer
          format: int64
          examples:
            - 0.03254970
        totalDelegatedEnergyTrx:
          type: integer
          format: int64
          examples:
            - 162748507.908930
    stakeInfo:
      type: object
      properties:
        decimal:
          type: integer
          format: int64
          examples:
            - 18
        exchangeRate:
          type: integer
          format: int64
          examples:
            - 1.181813870419231022
        rentReserveFactor:
          type: integer
          format: int64
          examples:
            - 0.200000000000000000
        reserse:
          type: integer
          format: int64
          examples:
            - 71933070.321420
        rewardReserveFactor:
          type: integer
          format: int64
          examples:
            - 0.200000000000000000
        strxAddress:
          type: string
          examples:
            - TU3kjFuhtEo42tsCBtfYUAZxoqQ4yuSLQ5
        supplyRate:
          type: integer
          format: int64
          examples:
            - 0.03937302
        symbol:
          type: string
          examples:
            - sTRX
        totalSupply:
          type: integer
          format: int64
          examples:
            - 6553955254.250487546804870562
        totalSupplyUsd:
          type: integer
          format: int64
          examples:
            - 1729932328.75828661
        totalUnderlying:
          type: integer
          format: int64
          examples:
            - 7745555225.580224
        trxPrice:
          type: integer
          format: int64
          examples:
            - 0.223345167438102719
        underlyingDecimal:
          type: integer
          format: int64
          examples:
            - 6
    stakeList:
      type: array
      items:
        type: object
        properties:
          addresses:
            type: string
            description: User's wallet addresses.
            examples:
              - TU3kjFuhtEo42tsCBtfYUAZxoqQ4yuSLQ5
          availableWithdrawAmount:
            type: integer
            format: int64
            description: Available amount for withdrawal.
            examples:
              - 150865439.643028
          unstakingAmount:
            type: integer
            format: int64
            description: The amount of unstaking trx.
            examples:
              - 24120999.583032
          sTRXBalance:
            type: integer
            format: int64
            description: The amount of sTRXBalance.
            examples:
              - 1.000000000000000000
    rentList:
      type: array
      items:
        type: object
        properties:
          rentRemainAmount:
            type: integer
            format: int64
            description: Remaining amount of rent.
            examples:
              - 0.000000
          receiver:
            type: string
            description: Wallet address of the receiver.
            examples:
              - TWdWEHRLPBVGsXhwjSUv45XwnsfUHXydJa
          delegatedAmount:
            type: integer
            format: int64
            description: Amount delegated for rent.
            examples:
              - 0.000000
          rentAmountPerDay:
            type: integer
            format: int64
            description: Rent amount per day.
            examples:
              - 0.000000
          rentType:
            type: string
            description: Type of rent (e.g., Energy).
            examples:
              - Energy
          renter:
            type: string
            description: Wallet address of the renter.
            examples:
              - TWdWEHRLPBVGsXhwjSUv45XwnsfUHXydJa
    vaultsList:
      type: array
      items:
        type: object
        properties:
          vaultAddress:
            type: string
            description: Vault contract address.
            examples:
              - TR1iqZZMmHeQSUTsAcV3eWNhKFEuuAMYX9
          vaultName:
            type: string
            description: Vault name.
            examples:
              - btc
          vaultSymbol:
            type: string
            description: Vault symbol.
            examples:
              - btc
          icon:
            type: string
            description: Vault icon URL.
            examples:
              - https://static.tronscan.org/production/upload/logo/TPYmHEhy5n8TCEfYGqW2rPxsghSfzghPDn.png
          tags:
            type: string
            description: Vault tags.
            examples:
              - []
          assetAddress:
            type: string
            description: Underlying asset contract address.
            examples:
              - THfS8gUDH5Cx1FnwvdQ2QfBdCHyeNDaKzs
          assetSymbol:
            type: string
            description: Underlying asset symbol.
            examples:
              - BTC
          assetName:
            type: string
            description: Underlying asset name.
            examples:
              - Bitcoin
          assetDecimals:
            type: integer
            description: Underlying asset decimal.
            examples:
              - 18
          assetIcon:
            type: string
            description: Underlying asset icon URL.
            examples:
              - https://static.tronscan.org/production/upload/logo/TPYmHEhy5n8TCEfYGqW2rPxsghSfzghPDn.png
          totalSupplyAmount:
            type: string
            description: Total vault supply.
            examples:
              - 21144.052487828023829952
          tvl:
            type: string
            description: Total value locked (USD).
            examples:
              - 21144.052487828023829952
          apy:
            type: string
            description: Annual percentage yield.
            examples:
              - 0.000000005789097493
          performanceFee:
            type: string
            description: Performance fee.
            examples:
              - 5.00
          collateralTokens:
            type: array
            description: List of tokens eligible as collateral.
            items:
              '$ref': '#/components/schemas/collateralTokens'
          userSupplyUsd:
            type: string
            description: User supply amount in USD.
            examples:
              - 130.119673146389372458
          userSupplyAmount:
            type: string
            description: The amount user supplied.
            examples:
              - 100.000057211579670966659075
          userSupplyYield:
            type: integer
            description: User supply earnings.
            examples:
              - 87.000057211579670966659075
    depositTokens:
      type: array
      items:
        type: object
        description: List of deposit tokens.
        properties:
          address:
            type: string
            description: Token contract address.
            examples:
              - TSkW3KiyHNbS9ozn99PHZz6rz1V2DMBFVa
          symbol:
            type: string
            description: Token symbol
            examples:
              - BTC
          name:
            type: string
            description: Token name.
            examples:
              - Bitcoin
          decimals:
            type: integer
            description: Token decimal.
            examples:
              - 18
          icon:
            type: string
            description: Token icon URL.
            examples:
              - https://static.tronscan.org/production/logo/TN3W4H6rK2ce4vX9YnFQHwKENnHjoxb3m9.png
    collateralTokens:
      type: array
      items:
        type: object
        description: List of tokens eligible as collateral.
        properties:
          address:
            type: string
            description: Token contract address.
            examples:
              - TSkW3KiyHNbS9ozn99PHZz6rz1V2DMBFVa
          symbol:
            type: string
            description: Token symbol
            examples:
              - BTC
          name:
            type: string
            description: Token name.
            examples:
              - Bitcoin
          decimals:
            type: integer
            description: Token decimal.
            examples:
              - 18
          icon:
            type: string
            description: Token icon URL.
            examples:
              - https://static.tronscan.org/production/logo/TN3W4H6rK2ce4vX9YnFQHwKENnHjoxb3m9.png
    v2marketsList:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
            description: Market ID.
            examples:
              - 0x42649f561525d32fb1552f39111e1037185ca36f15ca19fe6f31bf2710164bb4
          ltv:
            type: integer
            description: Loan-to-Value ratio, calculated as loanUsd / collateralUsd.
            examples:
              - 0.393088159831054713
          lltv:
            type: integer
            description: Liquidation Threshold.
            examples:
              - 0.750000000000000000
          risk:
            type: integer
            description: Risk ratio, calculated as ltv / liquidationThreshold.
            examples:
              - 0.524117546441406284
          liquidity:
            type: integer
            description: Available liquidity.
            examples:
              - 100445.9003098492231424387
          liquidityUsd:
            type: integer
            description: Liquidity in USD.
            examples:
              - 100445.9003098492231424387
          loanSymbol:
            type: string
            description: Symbol of the loan token.
            examples:
              - USDT
          loanAddress:
            type: string
            description: Contract address of the loan token.
            examples:
              - TPYwAC9Y4uUcT2QH3WPPjqxzJSJWymMoMS
          loanAmount:
            type: integer
            description: Borrowed amount.
            examples:
              - 106.900309849252994245
          loanUsd:
            type: integer
            description: Borrowed amount in USD.
            examples:
              - 106.900309849252994245
          loanIcon:
            type: string
            description: Loan token icon URL.
            examples:
              - https://static.tronscan.org/production/logo/usdtlogo.png
          borrowRate:
            type: integer
            description: Borrowed rate.
            examples:
              - 0.000384473004624000
          collateralSymbol:
            type: string
            description: Symbol of the collateral token.
            examples:
              - WTRX
          collateralAddress:
            type: string
            description: Contract address of the collateral token.
            examples:
              - TYsbWxNnyTgsZaTFaue9hqpxkU3Fkco94a
          collateralAmount:
            type: integer
            description: Amount of collateral token.
            examples:
              - 209.000000000000000000
          collateralUsd:
            type: integer
            description: Collateral value in USD.
            examples:
              - 271.949961289085020370
          collateralDecimals:
            type: integer
            description: Decimals of the collateral token.
            examples:
              - 6
          collateralIcon:
            type: string
            description: Collateral token icon URL.
            examples:
              - https://static.tronscan.org/production/upload/logo/TNUC9Qb1rRpS5CbWLmNMxXBjyFoydXjWFR.png
    myVaultList:
      type: array
      items:
        type: object
        description: List of user vaults.
        properties:
          vaultAddress:
            type: string
            description: user vault address.
            examples:
              - TXfQWrF4mkq5XFaoRYv3crdhjiKkhdMEx5
          supplyUsd:
            type: string
            description: Supply value in USD.
            examples:
              - 19261471.079885338
    myMarketList:
      type: array
      items:
        type: object
        description: List of user markets.
        properties:
          marketId:
            type: integer
            description: Unique identifier of the market.
            examples:
              - 0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c
          health:
            type: integer
            description: Health factor of the user in this market.
            examples:
              - 0.6215
          collateralUsd:
            type: integer
            description: Total collateral value in USD that the user has supplied in this market.
            examples:
              - 481377121.60471046
          borrowUsd:
            type: integer
            description: Total borrowed value in USD by the user in this market.
            examples:
              - 481377121.60471046

    Error:
      type: object
      description: RFC 7807
      properties:
        type:
          type: string
          examples:
            - https://example.com/errors/generic-error
        title:
          type: string
          examples:
            - Something went wrong here.
        status:
          type: integer
          format: int64
          examples:
            - 403
        detail:
          type: string
          examples:
            - Unfortunately, we can’t provide further information.
