.md-nav__item.has-children > .md-nav__link {
  position: relative;
  padding-right: 20px; 
}

.md-header {
    background-color: #3d56d6;
}

.md-nav--primary .md-nav__item--section > .md-nav__link {
    color: #000;
    font-size: 1.1em;
}

.md-sidebar {
    padding-top: 0;
}
